#header {
    background-color: #a8d5ba;
    text-align: center;
    width: 300px;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
}

.pancake-image {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 325px;
    border-radius: 15px;
}
.return-link {
  display: inline-block;   /* allows padding & margin to behave like a box */
  padding: 10px 16px;      /* inside space */
  border: 2px solid #333;  /* border */
  margin: 20px 0;          /* space outside */
  background-color: #f5f5f5; /* optional */
  text-decoration: none;   /* remove underline */
  color: #333;             /* text color */
  border-radius: 15px;      /* optional rounded corners */
}
.return-link:hover {
  background-color: #a8d5ba;
  border-color: #000;
}