body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}

.item img:hover{
    transform: scale(1.05);
    transition: all ease ;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(136, 219, 140);
}

div img{
    width:350px;
    height:500px;
    border-radius: 15px;
}
h1 {
    text-align: center;
    font-size: 36px;
    color: whitesmoke;
    background-color: green;
    padding: 20px;
    margin: auto;
    border: 3px solid black;
    width: 300px;
    border-radius: 20px;
}
  
p {
    font-weight: bold;
    font-size: 18px;
}


#header {
    background-color: #a8d5ba;
    text-align: center;
    width: 300px;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
}

.pancake-image {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 325px;
    border-radius: 15px;
}
.return-link {
  display: inline-block;   /* allows padding & margin to behave like a box */
  padding: 10px 16px;      /* inside space */
  border: 2px solid #333;  /* border */
  margin: 20px 0;          /* space outside */
  background-color: #f5f5f5; /* optional */
  text-decoration: none;   /* remove underline */
  color: #333;             /* text color */
  border-radius: 15px;      /* optional rounded corners */
}
.return-link:hover {
  background-color: #a8d5ba;
  border-color: #000;
}
