body {
    font-family: Arial, sans-serif;
    margin: 50px;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: whitesmoke;
    background-color: green;
    padding: 20px;
    margin: auto;
    border: 3px solid black;
    width: 300px;
    border-radius: 20px;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}   
p {
    text-align: center;
    font-size: 18px;
}

